@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*{
    box-sizing: border-box;
}

/* Loading circle figure only with CSS */
#loader {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#loadtext{padding-right: 10px}

#loading {
    position: relative;
    border: 10px solid #FFFFFF;
    border-radius: 50%;
    border-top: 10px solid #DD2E43;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

progress {
    --_track-size: min(10px, 1ex);
    --_radius: 1e3px;
    appearance: none;
    border: none;
    position: relative;
    height: var(--_track-size);
    border-radius: var(--_radius);
    accent-color: #DD2E43;
    --_track: #eee;
    --_progress: #DD2E43;
    --_indeterminate-track: linear-gradient(to right,
                                        var(--_track) 45%,
                                        var(--_progress) 0%,
                                        var(--_progress) 55%,
                                        var(--_track) 0%);
  --_indeterminate-track-size: 225% 100%;
  --_indeterminate-track-animation: progress-loading 2s infinite ease;
}

@keyframes progress-loading {
    50% {
      background-position: left; 
    }
}

progress:not([max])[value="1"]::before,
progress[max="100"][value="100"]::before {
  content: "✓";
  position: absolute;
  inset-block: 0;
  inset-inline: auto 0;
  display: flex;
  align-items: center;
  padding-inline-end: max(calc(var(--_track-size) / 4), 3px);
  color: white;
  font-size: calc(var(--_track-size) / 1.25);
}

progress:focus-visible {
    outline-color: var(--_progress);
    outline-offset: 5px;
  }

progress[value]::-webkit-progress-bar {
  background-color: var(--_track);
}

progress[value]::-webkit-progress-value {
  background-color: var(--_progress);
  transition: inline-size .25s ease-out;
}

progress[value]::-moz-progress-bar {
    background-color: var(--_progress);
}

progress:indeterminate::after {
    content: "";
    inset: 0;
    position: absolute;
    background: var(--_indeterminate-track);
    background-size: var(--_indeterminate-track-size);
    background-position: right; 
    animation: var(--_indeterminate-track-animation);
}

progress:indeterminate::-webkit-progress-bar {
    background: var(--_indeterminate-track);
    background-size: var(--_indeterminate-track-size);
    background-position: right; 
    animation: var(--_indeterminate-track-animation);
}

progress:indeterminate::-moz-progress-bar {
    background: var(--_indeterminate-track);
    background-size: var(--_indeterminate-track-size);
    background-position: right; 
    animation: var(--_indeterminate-track-animation);
}

#content{animation: fadein 1s ease-in forwards 0s;}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* End of loading circle figure only with CSS */

body {
    max-width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif; 
}

a {color: #000000; text-decoration: none;}
a:visited {color: #000000;}

#main {padding: 20px; margin: auto; }

#robo {text-align: center;}

h1 {color: #DD2E43; text-align: center;}

.material-symbols-outlined {font-variation-settings:'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48;vertical-align: middle;font-size: 24px;}

.fadein {animation: fadein 1s ease-in forwards 0s;}

@keyframes fadein{
    from{opacity: 0;}
    to{opacity: 1;}
}

.tab {
    display: table;
    width: 100%;
    margin:0 auto;
}

.lin {
    display: table-row;
}

.cel {
    display: table-cell;
    vertical-align: middle;
}

#superior {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.inferior {
    display: flex;
    font-size: 12px;
    font-weight: bold;
}

.imgrobo {
    background-color: #55acee;  
    color: #FFFFFF;
    font-size: 25px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    gap: 5px;
}

#descricao {
    height: 50px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#barra {
    z-index: 2;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.item{
    display: flex;
    min-height: 48px;
    flex: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ativo {
    border-top: #DD2E43 solid 5px !important;
    background-color: #EEEEEE !important;
    color: #DD2E43 !important;
}

.semiativo {
    border-top: #DD2E43 solid 5px !important;
    background-color: #FFFFFF;
}

.semiativo:hover {
    background-color: #EEEEFF;
    border-top: #CCCCCC solid 5px;
}

.semiativo:active {transform: translateY(1px);}  

.inativo {
    background-color: #FFFFFF;
    border-top: #CCCCCC solid 5px;
}

.inativo:hover {
    background-color: #EEEEFF;
    border-top: #CCCCCC solid 5px;
}

.inativo:active {transform: translateY(1px);}  
    
.sticky {
    position: fixed;
    margin: auto;
    top: 0;
}

.sticky + .content {
    padding-top: 60px;
}

#tweetscontainer{padding: 10px;}

#promptInstall{
    position: fixed;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: 1px solid #00000025;
    border-radius: 10px;
    font-size: 16px;
    z-index: 3;
    text-align: center;
    height: 100px;
    width: 95vw;
    max-width: 400px;
    align-content: space-evenly;
    grid-template-areas:
        "ins ins"
        "dow dep";
    grid-template-columns: 50% 50%;
    gap: 5px;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    bottom: 10px;
    right: 10px;
}

#promptInstall > p{
    text-align: center;
    grid-area: ins;
    font-size: 20px;
    color: #dd2e44;
    line-height: 0;
}

#butInstall{
    padding: 7px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #5088ee;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
    grid-area: dow;
}

#butLater{
    padding: 7px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #eeeeee;
    color: #555;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    vertical-align: middle;
    grid-area: dep;
}