body {
    font-family: Roboto, sans-serif;
    padding: 20px !important;
}

#anuncios{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 10px;
    background-color: antiquewhite;
}

button{
    color: white;
    background: #dd2e44;
    border: 0;
    font-weight: bold;
    padding: 5px;
}

.container{
    margin: 10px;
}