.tabela {width: 100%; margin:0 auto; border-collapse: collapse;}

.tabela td {
    padding:10px;
}

.tabela th {
    position: -webkit-sticky;
    position: sticky;
    top: 35px;
}

.tabela tr:nth-child(even) {
    background-color: #e0e0e0;
}

.tabela tr:nth-child(odd) {
    background-color: #eeeeee;
}

.itenssite {
    max-width: 100%;
    display: grid;
    grid-template-columns: 100%;
    gap: 1px;
    align-content: baseline;
}

.itenssite a{
    padding: 12px 10px;
}

.itenssite a:nth-child(even) {
    background-color: #e0e0e0;
}

.itenssite a:nth-child(odd) {
    background-color: #eeeeee;
}

.destaques {
    display: block;
}

a.linksite {
    color: #FFFFFF !important;
    font-size: 20px;
    height: 50px !important;
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
}

a.conteudo {
    color: #000000;
    text-decoration: none;
    height: 110px;
    }

a.conteudo:visited {
    color: #CCCCCC;
}

.inteligenciaf {
    background: #ec7000 !important;
}

.valor{
    background: #37626e !important;
}

.valorinveste {
    background: #472f92 !important;
}

.folha {
    background: #00adef !important;
}

.infomoney {
    background: #212121 !important;
}

.investnews {
    background: #90067C !important;
}

.moneytimes {
    background: #00c940 !important;
}

.oglobo {
    background: #1e4c9a !important;
}

.exame {
    background: #ff0000 !important;
}

.oespecialista {
    background: #000033 !important;
}

.uol {
    background: #19A39A !important;
}

.neofeed {
    background: orangered !important;
}

.estadao {
    background: darkblue !important;
}

.suno {
    background: #d72650 !important;
}

#newsfusoes > * > .val {
    border-left: 5px solid #37626e;
}

#newsfusoes > * >  .neo {
    border-left: 5px solid orangered;
}

#newsfusoes > * >  .est {
    border-left: 5px solid darkblue;
}

#newsfusoes > * >  .mon {
    border-left: 5px solid #00c940;
}

#homes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
}

#maislidas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
}

#webstories {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
}

#newsfusoes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
}

#newsfusoes > .itenssite {
    grid-template-columns: 1fr;
    gap: 0px;
}

#newsfusoes > .itenssite > a {
    height: 150px;
    align-items: center;
    justify-content: center;
    align-self: end;
}

.itenssite > a > .linhafina{
    margin: 0;
    font-size: 0.75rem;
}

.itenssite > a > .linhafina{
    margin: 0;
    font-size: 0.75rem;
}

@media only screen and (min-width: 780px) {
    #tweetscontainer {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 5px;
        justify-content: center;
    }

    #homes {
        grid-template-columns: 1fr 1fr;
    }

    #maislidas {
        grid-template-columns: 1fr 1fr;
    }

    #webstories {
        grid-template-columns: 1fr 1fr;
    }

    #newsfusoes > .itenssite {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width: 1300px) {
    #tweetscontainer {
        grid-template-columns: auto auto auto auto;
        gap: 5px;
        justify-content: center;
    }

    #homes {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #maislidas {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }

    #webstories {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #newsfusoes > .itenssite {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 2000px) {

    #homes {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #maislidas {
        grid-template-columns: 1fr 1fr 1fr;
    }
}