<!DOCTYPE html>
<html lang="pt-BR">
  <head>

    {% block head %}{% endblock head%}

    <!-- Page loader script -->
    <script>
      function carregada(){
        document.querySelector("#loader").style.display = "none";
        document.querySelector("#content").classList.add("fadein");
      }

      document.addEventListener('readystatechange', event => {
        if (event.target.readyState === 'interactive') {
          {% block interactive %}{% endblock %}
          console.log("Página > Interativa")
        }
        else if (event.target.readyState === 'complete') {
          {% block complete %}{% endblock %}
        }
      });
    </script>
    <!-- End of Page loader script -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PXDDNLD');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Service Worker -->
    <script>
    if('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js', {scope: '/'})
          .then(registration => {
            console.log('Workbox > Escopo: ', registration.scope)
            return registration})
          .catch(err => {
            console.warn('Workbox > Erro: ', err)})
        navigator.serviceWorker.ready.then(registration => {
             console.log('Workbox > Registrado')})
      })
    }
    </script>



      

    <!-- End Service Worker -->

    <title>{% block title %}{% endblock title%} | Robôs do Tode</title> 

    <!-- Metatags -->
    <meta name="description" content="{% block metadescription %}{% endblock %}" />
    <meta name="robots" content="nofollow">
    
    <!-- Viewport for responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Material Design -->
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet" >
    <link href="{{ url_for('static', filename='colors.css') }}" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      const foos = [].map.call(document.querySelectorAll('.mdc-foo'), function (el) {
        return new MDCFoo(el);
      });
    </script>
    <!-- End of Material Design -->

    <!-- Icon tags, manifest path e theme color for app/shortcut -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('buildmanifest', manifest=manifest)}}")>
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" >
    <meta name="theme-color" content="#DD2E43">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Editor de /economia">    
    <link rel="apple-touch-icon" href="/static/48.png" sizes="48x48">
    <link rel="apple-touch-icon" href="/static/72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/static/96.png" sizes="96x96">
    <link rel="apple-touch-icon" href="/static/128.png" sizes="128x128">
    <link rel="apple-touch-icon" href="/static/192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/static/384.png" sizes="384x384">
    <link rel="apple-touch-icon" href="/static/512.png" sizes="512x512">
    {% block metatags %}{% endblock metatags%}
    <!-- End of metatags -->
   
   <!-- CSS base stylesheet block  -->
    <style>
      {% block style %}{% endblock %}
    </style>
    <!-- End of CSS base stylesheet block  -->

  <!-- Loading loading script -->
  <script>
    function loading() {
      document.querySelector("#content").style.display = "none";
      document.querySelector("#loadtext").innerHTML = "Carregando... ";
      document.querySelector("#loader").style.display = "flex";
    }
  </script>
  <!-- End of loading script -->

</head>
  
  <body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXDDNLD" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Loading figure DIV -->
    <div id="loader">
      <div id="loadtext">Carregando...</div>
      <div id="loading"></div>
    </div>
  <!-- End of loading figure DIV -->
      
  <!-- Content DIV -->
    {% block superior %}{% endblock %}
    <section id="content" aria-busy="true">
      {% block content %}{% endblock %}
    <div class="imgrobo">
      <img alt="Robô" style="vertical-align: middle;" width="50px" height="50px" src="/static/384.png">
    </div>
    {% block inferior %}{% endblock %}
    </section>
  <!-- End of content DIV -->

    <aside id="installprompt">

    </section>
  <!-- Sticky Navbar Script -->
    <script>
      window.onscroll = function() {stickyfunction()};
      
      var barra = document.getElementById("barra");
      var sticky = barra.offsetTop;
      
      function stickyfunction() {
        if (window.pageYOffset >= sticky) {
          barra.classList.add("sticky")
        } else {
          barra.classList.remove("sticky");
        }
      }
    </script>
<!--  End of Sticky Navbar Script -->

  </body>
</html>