{% extends 'base.html' %}

{% block titulo %}Editor de /economia - Mais lidas{% endblock %}

{% block metadescription %}Conteúdos com maior audiência em sites de economia, investimentos e finanças pessoais do Brasil{% endblock %}

{% block manifest %}economia.webmanifest{% endblock %}

{% block style %}   
      a.linksite {
        text-decoration: none !important;
        color: #FFFFFF !important;
        margin-inline-start: 10px;
        font-size: 25px;
      }

      a.conteudo {
        color: #000000;
        text-decoration: none;
      }

      a.conteudo:visited {
        color: #CCCCCC;
      }
      
      td{
        padding:10px;
      }

      tr:nth-child(odd) {
        background-color: #eeeeee;
      }

      tr:nth-child(even) {
        background-color: #e0e0e0;
      }

      .valor {
        background: #37626e;
      }

      .infomoney {
        background: #212121;
      }

      .investnews {
        background: #90067C;
      }

      .moneytimes {
        background: #00c940;
      }

      .oglobo {
        background: #1e4c9a;
      }

      .exame {
        background: #ff0000;
      }

      .oespecialista {
        background: #000033;
      }
{% endblock %}

{% block menuinferior %}
<div id="menuinferior">
    <a class="nao" onclick="loading()" href="/">Página inicial</a>
    <a class="sim" onclick="loading()" href="/economia/destaques">Editor de /economia</a>
    <a class="nao" onclick="loading()" href="/sobre">Sobre o site</a>
</div>
{% endblock %}

{% block menusuperior %}
<div id="menusuperior">
  <span id="economia"><a onclick="loading()" href="/"><img alt="Robô" style="vertical-align: middle;" width="30px" height="30px" src="/static/384.png"/></a> /<b>economia</b></span>
  <a class="sim" onclick="loading()" href="/economia/maislidas">/maislidas</a>
  <p id="descricao">Conteúdos com maior audiência segundo os próprios sites</p>
  <div id="menusuperior2">
    <a class="nao" onclick="loading()" href="/economia/destaques">/destaques</a>
    <a class="nao" onclick="loading()" href="/economia/tweets/top10">/tweets</a>
    <a class="nao" onclick="loading()" href="/economia/webstories">/webstories</a>
  </div>
</div>
{% endblock %}

{% block conteudo %}

<table class="tabela">
    <tr>
      <th  class="investnews">
        <a class="linksite" href="https://www.investnews.com.br/" target="_blank">investnews.com.br</a>
      </th>
    </tr>
  <tbody>
  {% for k, v in investnews.items() %}
    <tr>
      <td>
        <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<table class="tabela">
  <tr>
    <th  class="moneytimes">
      <a class="linksite" href="https://www.moneytimes.com.br/" target="_blank">moneytimes.com.br</a>
    </th>
  </tr>
<tbody>
{% for k, v in moneytimes.items() %}
  <tr>
    <td>
      <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<table class="tabela">
  <tr>
    <th  class="exame">
      <a class="linksite" href="https://www.exame.com.br/" target="_blank">exame.com.br</a>
    </th>
  </tr>
<tbody>
{% for k, v in exame.items() %}
  <tr>
    <td>
      <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<table class="tabela">
  <tr>
    <th  class="valor">
      <a class="linksite" href="https://www.valor.com.br/" target="_blank">valor.com.br</a>
    </th>
  </tr>
<tbody>
{% for k, v in valor.items() %}
  <tr>
    <td>
      <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<table class="tabela">
  <tr>
    <th  class="oespecialista">
      <a class="linksite" href="https://www.oespecialista.com.br/" target="_blank">oespecialista.com.br</a>
    </th>
  </tr>
<tbody>
{% for k, v in oespecialista.items() %}
  <tr>
    <td>
      <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}