{% extends 'base.html' %}

{% block titulo %}Homeiro /economia{% endblock %}

{% block metadescription %}Ronda de homes em sites de economia, investimentos e finanças pessoais{% endblock %}

{% block style %}   
      td, th {
        border: 1px solid #cccccc;
        text-align: left;
        padding: 8px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
      
      td:first-child {
        width:80%;
      }
      
      td:last-child {
        white-space: nowrap;
      } 
      
      .dataframe {
        width: 100%;
        font-weight: 300;
        border-collapse: collapse;
        margin: auto;
      }
      
      th {
        color: #ffffff;
      }

      #valor th {
        background: #37626e;
      }

      #infomoney th {
        background: #212121;
      }

      #investnews th {
        background: #90067C;
      }

      #moneytimes th {
        background: #00c940;
      }

      #uol th {
        background: #ff8000;
      }

      #oglobo th {
        background: #1e4c9a;
      }

      #exame th {
        background: #ff0000;
      }
{% endblock %}

{% block cabecalho %}
Ronda /<b>economia</b>+financas+investimentos
{% endblock %}

{% block conteudo %}
<div><p style="text-align: center;">O que está em destaques sobre economia, investimentos e finanças pessoais</p></div>
<div>
  <p><a href="https://valor.globo.com/" target="_blank">valor.globo.com/</a></p>
  {{ vehtml | safe }}
</div>
<div>
  <p><a href="http://infomoney.com.br" target="_blank">infomoney.com.br/</a></p>
  {{ imhtml | safe }}  
</div>
<div>
  <p><a href="http://investnews.com.br" target="_blank">investnews.com.br/</a></p>
  {{ inhtml | safe }}  
</div>
<div>
  <p><a href="https://www.moneytimes.com.br/" target="_blank">moneytimes.com.br/</a></p>
  {{ mthtml | safe }}  
</div>
<div>
  <p><a href="https://oglobo.globo.com/economia/" target="_blank">oglobo.globo.com/economia</a></p>
  {{ oghtml | safe }}  
</div>
<div>
  <p><a href="http://exame.com" target="_blank">exame.com/</a></p>
  {{ ehtml | safe }}</p>  
</div>
{% endblock %}