{% extends 'base.html' %}

{% block title %}Editor de /economia - Webstories{% endblock %}

{% block metadescription %}Últimos webstories em sites de economia, investimentos e finanças pessoais do Brasil{% endblock %}

{% block manifest %}economia.webmanifest{% endblock %}

{% block metatags %}
<link href="/static/sites.css" rel="stylesheet">
{% endblock %}

<!-- Page specific CSS. Render inside base.html <style> -->
{% block style %}   
{% endblock %}
<!-- End of page specific CSS -->e

<!-- Menu blocks, declared together, but render separately on final page -->
{% block inferioreconomia %}
{% endblock %}

{% block superior %}
<div class="imgrobo">
  <a onclick="loading()" href="/"><img alt="Robô" width="30px" height="30px" src="/static/384.png"></a>/economia/maislidas
</div>
<div id="descricao">Webstories mais recentes dos veículos</div>
<div id="barra">
  <a onclick="loading()" class="item inativo" href="/economia/destaques">/destaques</a>
  <a onclick="loading()" class="item inativo" href="/economia/maislidas">/maislidas</a>
  <a onclick="loading()" class="item inativo" href="/economia/tweets/fintwit">/tweets</a>
  <a onclick="loading()" class="item ativo" href="/economia/webstories">/webstories</a>
</div>
{% endblock %}
<!-- End of menu blocks -->

{% block content %}
<!-- Here we render dicts inside tables using loops that iterates items -->
<table class="tabela">
    <tr>
      <th class="investnews">
        <a class="linksite" href="https://www.investnews.com.br/" target="_blank">investnews.com.br</a>
      </th>
    </tr>
  <tbody>
  {% for k, v in investnews.items() %}
    <tr>
      <td>
        <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<!-- End of the first table example -->

<table class="tabela">
  <tr>
    <th class="infomoney">
      <a class="linksite" href="https://infomoney.com.br/web-stories" target="_blank">infomoney.com.br</a>
    </th>
  </tr>
<tbody>
{% for k, v in infomoney.items() %}
  <tr>
    <td>
      <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}