{% extends 'base.html' %}

{% block title %}Editor de /economia - Mais lidas{% endblock %}

{% block metadescription %}Conteúdos com maior audiência em sites de portais e sites de economia, mercado financeiro, investimentos e finanças pessoais do Brasil{% endblock %}

{% block manifest %}economia.webmanifest{% endblock %}

<!-- Page specific CSS. Render inside base.html <style> -->
{% block style %}   
      a.linksite {
        text-decoration: none !important;
        color: #FFFFFF !important;
        font-size: 20px;
      }

      a.conteudo {
        color: #000000;
        text-decoration: none;
      }

      a.conteudo:visited {
        color: #CCCCCC;
      }
      
      .valor {
        background: #37626e;
      }

      .infomoney {
        background: #212121;
      }

      .investnews {
        background: #90067C;
      }

      .moneytimes {
        background: #00c940;
      }

      .oglobo {
        background: #1e4c9a;
      }

      .exame {
        background: #ff0000;
      }

      .oespecialista {
        background: #000033;
      }
{% endblock %}
<!-- End of page specific CSS -->

<!-- Menu blocks, declared together, but render separately on final page -->
{% block menuinferior %}
<table id="menuinferior">
  <tbody>
    <tr><td colspan="3" class="tdroboimg"><img alt="Robô" style="vertical-align: middle;" width="100px" height="100px" src="/static/384.png"></td></tr>
    <tr>
      <td class="nao item"><a onclick="loading()" href="/">Página inicial</a></td>
      <td class="sim item">Editor de /economia</td>
      <td class="nao nao2 item"><a onclick="loading()" href="/sobre">Sobre o site</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block menusuperior %}
<table id="menusuperior">
  <tbody>
    <tr class="tdroboimg">
      <td class="item">
      <span id="economia"><a onclick="loading()" href="/"><img alt="Robô" style="vertical-align: middle;" width="30px" height="30px" src="/static/384.png"></a></span>/<b>economia/destaques</b>
      </td>
    </tr>
    <tr id="descricao">
      <td class="item">
        Maior audiência segundo os próprios sites
      </td>
    </tr>
  </tbody>
</table>
<table id="navbar">
  <tbody>
    <tr>
      <td class="destaques nao nao2 item"><a onclick="loading()" href="/economia/destaques">/destaques</a></td>
      <td class="maislidas sim item">/maislidas</td>
      <td class="tweets nao nao2 item"><a onclick="loading()" href="/economia/tweets/fintwit">/#fintwitbr</a></td>
      <td class="webstories nao item"><a onclick="loading()" href="/economia/webstories">/webstories</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
<!-- End of menu blocks -->

{% block content %}

<!-- Here we render dicts inside tables using loops that iterates items -->
<table class="tabela">
    <tr>
      <th  class="investnews">
        <a class="linksite" href="https://www.investnews.com.br/" target="_blank">investnews.com.br</a>
      </th>
    </tr>
  <tbody>
  {% for k, v in investnews.items() %}
    <tr>
      <td>
        <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<!-- End of the first table example -->

<table class="tabela">
  <tr>
    <th  class="moneytimes">
      <a class="linksite" href="https://www.moneytimes.com.br/" target="_blank">moneytimes.com.br</a>
    </th>
  </tr>
<tbody>
{% for k, v in moneytimes.items() %}
  <tr>
    <td>
      <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<table class="tabela">
  <tr>
    <th  class="exame">
      <a class="linksite" href="https://www.exame.com.br/" target="_blank">exame.com.br</a>
    </th>
  </tr>
<tbody>
{% for k, v in exame.items() %}
  <tr>
    <td>
      <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<table class="tabela">
  <tr>
    <th  class="valor">
      <a class="linksite" href="https://www.valor.com.br/" target="_blank">valor.com.br</a>
    </th>
  </tr>
<tbody>
{% for k, v in valor.items() %}
  <tr>
    <td>
      <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<table class="tabela">
  <tr>
    <th  class="oespecialista">
      <a class="linksite" href="https://www.oespecialista.com.br/" target="_blank">oespecialista.com.br</a>
    </th>
  </tr>
<tbody>
{% for k, v in oespecialista.items() %}
  <tr>
    <td>
      <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}