{% extends 'base.html' %}

{% block title %}Editor de /economia - Tweets{% endblock %}

{% block metadescription %}30 tweets com maior engajmento entre os perfis no Twitter de veículos de mídia do mercado financeiro do Brasil{% endblock %}

{% block manifest %}economia.webmanifest{% endblock %}

{% block metatags %}
<link href="/static/sites.css" rel="stylesheet">
{% endblock %}

<!-- Page specific CSS. Render inside base.html <style> -->
{% block style %}   
{% endblock %}
<!-- End of page specific CSS -->e

<!-- Menu blocks, declared together, but render separately on final page -->
{% block inferioreconomia %}
{% endblock %}

{% block superior %}
<div class="imgrobo">
  <a onclick="loading()" href="/"><img alt="Robô" width="30px" height="30px" src="/static/384.png"></a>/economia/tweets/fintwit
</div>
<div id="descricao">Maior engajamento entre @sites</div>
<div id="barra">
  <a onclick="loading()" class="item inativo" href="/economia/destaques">/destaques</a>
  <a onclick="loading()" class="item inativo" href="/economia/maislidas">/maislidas</a>
  <a onclick="loading()" class="item semiativo" href="/economia/tweets/fintwit">/#fintwitbr</a>
  <a onclick="loading()" class="item ativo" href="/economia/tweets/top30">/top30</a>
  <a onclick="loading()" class="item inativo" href="/economia/webstories">/webstories</a>
</div>
{% endblock %}
<!-- End of menu blocks -->

{% block content %}

<!-- Here we render tweets using a loop that exctract tweet's IDs from a dict -->
<div id="tweetscontainer"> 
  {% for ID in toptweets %}
  <div id="{{ ID }}"></div>
  {% endfor %}
  <script sync src="https://platform.twitter.com/widgets.js"></script>
  <script>
  function tweetsfunc() {
    {% for ID in toptweets %}twttr.widgets.createTweet('{{ ID }}',document.getElementById('{{ ID }}'),{});{% endfor %}
  };
  tweetsfunc();
  </script>
</div>
<!-- End of the loop -->

{% endblock %}