{% extends 'base.html' %}

{% block title %}Editor de /economia - #fintwit{% endblock %}

{% block metadescription %}20 tweets mais engajados na #fintwitbr{% endblock %}

{% block manifest %}economia.webmanifest{% endblock %}

{% block metatags %}
<link href="/static/sites.css" rel="stylesheet">
{% endblock %}

<!-- Page specific CSS. Render inside base.html <style> -->
{% block style %}
{% endblock %}
<!-- End of page specific CSS -->

<!-- Menu blocks -->
{% block inferioreconomia %}
{% endblock %}

{% block superior %}
<div class="imgrobo">
  <a onclick="loading()" href="/"><img alt="Robô" width="30px" height="30px" src="/static/384.png"></a>/economia/tweets/fintwit
</div>
<div id="descricao">Maior engajamento na #fintwitbr</div>
<div id="barra">
  <a onclick="loading()" class="item inativo" href="/economia/destaques">/destaques</a>
  <a onclick="loading()" class="item inativo" href="/economia/maislidas">/maislidas</a>
  <a onclick="loading()" class="item ativo" href="/economia/tweets/fintwit">/#fintwitbr</a>
  <a onclick="loading()" class="item semiativo" href="/economia/tweets/top30">/top30</a>
  <a onclick="loading()" class="item inativo" href="/economia/webstories">/webstories</a>
</div>
{% endblock %}
<!-- End of menu blocks -->

{% block content %}
<!-- Here we render tweets using a loop that exctract tweet's IDs from a dict -->
<div id="tweetscontainer">
  {% for ID in fintweets %}
  <div id="{{ ID }}"></div>
  {% endfor %}
</div>

<script sync src="https://platform.twitter.com/widgets.js"></script>

<script>

  function tweetsfunc(){
    {% for ID in fintweets %}
    twttr.widgets.createTweet('{{ ID }}',document.getElementById('{{ ID }}'),{lang:'pt'});
    {% endfor %}
  };
    
  tweetsfunc();

  let ntweets = 0

  twttr.events.bind('rendered',function (event) {
    ntweets++
    document.querySelector("#loadtext").innerHTML = ("Carregando " + ntweets + "/30");
    if (ntweets == 30){
      console.log('Rolou!', event.target.id);
      document.querySelector("#loader").style.display = "none";
      document.querySelector("#content").classList.add("fadein");
    }
  });

</script>
<!-- End of the loop -->
{% endblock %}