{% extends 'base.html' %}

{% block title %}Editor de /economia - #fintwit{% endblock %}

{% block metadescription %}20 tweets mais engajados na #fintwitbr{% endblock %}

{% block manifest %}economia.webmanifest{% endblock %}

<!-- Page specific CSS. Render inside base.html <style> -->
{% block style %}
    #tweets {
        margin: auto;
        width: 90%;
    }
{% endblock %}
<!-- End of page specific CSS -->

<!-- Menu blocks, declared together, but render separately on final page -->
{% block menuinferior %}
<table id="menuinferior">
  <tbody>
    <tr><td colspan="3" class="tdroboimg"><img alt="Robô" style="vertical-align: middle;" width="100px" height="100px" src="/static/384.png"></td></tr>
    <tr>
      <td class="nao item"><a onclick="loading()" href="/">Página inicial</a></td>
      <td class="sim item">Editor de /economia</td>
      <td class="nao nao2 item"><a onclick="loading()" href="/sobre">Sobre o site</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block menusuperior %}
<table id="menusuperior">
  <tbody>
    <tr class="tdroboimg">
      <td class="item">
      <span id="economia"><a onclick="loading()" href="/"><img alt="Robô" style="vertical-align: middle;" width="30px" height="30px" src="/static/384.png"></a></span>/<b>economia/destaques</b>
      </td>
    </tr>
    <tr id="descricao">
      <td class="item">
        Top 20 mais engajados entre os últimos 100 tweets;</br>veja também o top 10 dos <b><a onclick="loading()" href="/economia/tweets/top10">@sitesdeeconomia</a></b>
      </td>
    </tr>
    <tr>
      <td>
      <table id="navbar">
      <tbody>
        <tr>
          <td class="destaques nao nao2 item"><a onclick="loading()" href="/economia/destaques">/destaques</a></td>
          <td class="maislidas nao item"><a onclick="loading()" href="/economia/maislidas">/maislidas</a></td>
          <td class="tweets sim item">/#fintwitbr</td>
          <td class="webstories nao item"><a onclick="loading()" href="/economia/webstories">/webstories</a></td>
        </tr>
      </tbody>
      </table>
      </td>
    </tr>  
  </tbody>
</table>
{% endblock %}
<!-- End of menu blocks -->

{% block content %}

<!-- Here we render tweets using a loop that exctract tweet's IDs from a dict -->
<div id="tweets">
  {% for ID in fintweets %}
  <blockquote class="twitter-tweet"><a href="https://twitter.com/x/status/{{ ID }}"></a></blockquote>
  {% endfor %}
</div>
<!-- End of the loop -->

<!-- Tweet rendering script -->
<script async="false" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- End of twitter script -->

{% endblock %}