{% extends 'base.html' %}

{% block title %}Editor de /fusoes - Busca{% endblock %}

{% block metadescription %}Descrição busca Fusões{% endblock %}

{% block manifest %}economia.webmanifest{% endblock %}

<!-- Page specific CSS. Render inside base.html <style> -->
{% block style %}   
      a.linksite {
        text-decoration: none !important;
        color: #FFFFFF !important;
        margin-inline-start: 10px;
        font-size: 25px;
      }

      a.conteudo {
        color: #000000;
        text-decoration: none;
      }

      a.conteudo:visited {
        color: #CCCCCC;
      }

      td{
        padding:10px;
      }

      tr:nth-child(odd) {
        background-color: #eeeeee;
      }

      tr:nth-child(even) {
        background-color: #e0e0e0;
      }

      .valor {
        background: #37626e;
      }

      .neofeed {
        background: #ec7000;
      }

      .estadao {
        background: #2d74e7;
      }

      .moneytimes {
        background: #00c940;
      }
{% endblock %}
<!-- End of page specific CSS -->

<!-- Menu blocks, declared together, but render separately on final page -->
{% block menuinferior %}
<div id="menuinferior">
    <a class="nao" onclick="loading()" href="/">Página inicial</a>
    <a class="sim" onclick="loading()" href="/economia/destaques">Editor de /economia</a>
    <a class="nao" onclick="loading()" href="/sobre">Sobre o site</a>
</div>
{% endblock %}

{% block menusuperior %}
<div id="menusuperior">
  <span id="economia"><a onclick="loading()" href="/"><img alt="Robô" style="vertical-align: middle;" width="30px" height="30px" src="/static/384.png"/></a> /<b>fusoes</b></span>
  <a class="sim" onclick="loading()" href="/fusoes/busca">/busca</a>
  <p id="descricao">Últimos conteúdos com busca 'fusões'</p>
</div>
<div id="menusuperior2">
</div>

{% endblock %}
<!-- End of menu blocks -->

{% block content %}
<!-- Here we render dicts inside tables using loops that iterates items -->
<table class="tabela">
<tbody>
  <tr>
    <th class="valor">
      <a class="linksite" href="https://www.valor.globo.com/busca/?q=fusão+aquisição" target="_blank">valor.globo.com</a>
    </th>
  </tr>
</tbody>
<tbody>
  {% for k, v in valor.items() %}
  <tr>
    <td>
      <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<!-- End of the first table example -->
<table class="tabela">
  <tbody>
    <tr>
      <th class="moneytimes">
        <a class="linksite" href="https://www.moneytimes.com.br/?s=fus%C3%B5es+aquisi%C3%A7%C3%B5es" target="_blank">moneytimes.com.br</a>
      </th>
    </tr>
  </tbody>
  <tbody>
    {% for k, v in moneytimes.items() %}
    <tr>
      <td>
        <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<table class="tabela">
  <tbody>
    <tr>
      <th class="estadao">
        <a class="linksite" href="https://busca.estadao.com.br/?q=fus%C3%A3o+aquisi%C3%A7%C3%A3o" target="_blank">estadao.com.br</a>
      </th>
    </tr>
  </tbody>
  <tbody>
    {% for k, v in estadao.items() %}
    <tr>
      <td>
        <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<table class="tabela">
  <tbody>
    <tr>
      <th class="neofeed">
        <a class="linksite" href="https://neofeed.com.br/?s=fus%C3%A3o+aquisi%C3%A7%C3%A3o" target="_blank">neofeed.com.br</a>
      </th>
    </tr>
  </tbody>
  <tbody>
    {% for k, v in neofeed.items() %}
    <tr>
      <td>
        <a target="_blank" class="conteudo" href="{{ v }}">{{ k }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}