{% extends 'base.html' %}

{% block title %}Página inicial{% endblock %}

{% block metadescription %}Site feito com a biblioteca Flask do Python e algumas funções que aprendi ou criei durante o Master de Jornalismo de dados e Automação do Insper{% endblock %}

{% block manifest %}economia.webmanifest{% endblock %}

{% block style %}.economia {visibility: hidden;}{% endblock %}

{% block inferior %}
<div class="inferior">
  <a onclick="loading()" class="item ativo" href="/">Apresentação</a></td>
  <a onclick="loading()" class="item inativo" href="/economia/destaques">Editor de /economia</td>
  <a onclick="loading()" class="item inativo" href="/sobre">Sobre o site</a></td>
</div>
{% endblock %}

{% block content %}
<div id="main">
  <h1 class="fadein">Robôs do Tode</h1>
  <p>Olá, tudo bem?!</p>
  <p>Eu sou o <b><a href="https://twitter.com/todearaujo">Tode</a></b> e esta é a casa dos meus robôs. Iniciei seu desenvolvimento como parte dos <b><a href="/sobre">meus estudos no MBA</a></b>.</p>
  <p>Por enquanto temos o <b><a href="/economia/destaques">Editor de /economia</a></b>; que te conta em tempo real o que é assunto no mundo das finanças pessoais, investimentos e do mercado financeiro.</p>
  <p>Clica aí!</p>
</div>
{% endblock %}