{% extends 'base.html' %}

{% block title %}Página inicial{% endblock %}

{% block metadescription %}Site feito com a biblioteca Flask do Python e algumas funções que aprendi ou criei durante o Master de Jornalismo de dados e Automação do Insper{% endblock %}

{% block manifest %}economia.webmanifest{% endblock %}

{% block style %}
  .economia {
    visibility: hidden;
  }

  body {
    max-width: 700px !important;
  }

  @media (min-width: 380px) {
    #main {
      column-count: 2;
    }
  }
{% endblock %}

{% block inferior %}
<navbar class="inferior">
  <a onclick="loading()" class="item inativo" href="/economia/destaques">Editor de /economia</td>
  <a onclick="loading()" class="item ativo" href="/">Sobre o site</a></td>
</navbar>
{% endblock %}

{% block content %}
<h1 class="fadein">Robôs do Tode</h1>
<div id="main">
  <p>Olá, tudo bem?!</p>
  <p>Eu sou o <b><a href="https://twitter.com/todearaujo">Tode</a></b> e esta é a casa dos meus robôs. Iniciei seu desenvolvimento como parte dos meus estudos no MBA.</p>
  <p>Por enquanto temos o <b><a href="/economia/destaques">Editor de /economia</a></b>; que te conta em tempo real o que é assunto no mundo das finanças pessoais, investimentos e do mercado financeiro.</p>
  <p>Clica aí!</p>
  <p>Esta aplicação/site roda em Flask, biblioteca do Python, compilando funções que aprendi ou desenvolvi durante o <b><a href="https://www.insper.edu.br/pos-graduacao/master-em-jornalismo-de-dados-automacao-e-data-storytelling/">Master de Jornalismo de dados e Automação do Insper.</a></b></p>
  <p>Seu desenvolvimeno foi iniciado na disciplina de <b>Algoritmos de automação</b> com o professor <a href="https://github.com/turicas"><b>Álvaro Justen</b></a> no segundo trimestre da primeira certificação, entre outubro e dezembro de 2021.</p>
</div>
{% endblock %}