{% extends 'base.html' %}

{% block titulo %}Ronda de sites de economia, investimentos e finanças pessoais{% endblock %}
{% block metadescription %}Ronda de sites de economia, investimentos e finanças pessoais{% endblock %}
{% block cabecalho %}<b>Ronda de sites</b> de economia, investimentos e finanças pessoais{% endblock %}
{% block style %}
      a:hover {
        color: #0000FF;
      }

      a:visited {
        text-decoration: line-through;
        color: #000000;
      }
       
      div {
        max-width: 600px;
        margin: auto;
      }
      
      td, th {
        border: 1px solid #cccccc;
        text-align: left;
        padding: 8px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
      
      td:first-child {
        width:80%;
      }
      
      td:last-child {
        white-space: nowrap;
      } 
      
      .dataframe {
        width: 100%;
        font-weight: 300;
        border-collapse: collapse;
        margin: auto;
      }
      
      th {
        color: #ffffff;
      }

      #valor th {
        background: #37626e;
      }

      #infomoney th {
        background: #212121;
      }

      #investnews th {
        background: #90067C;
      }

      #moneytimes th {
        background: #00c940;
      }

      #uol th {
        background: #ff8000;
      }

      #oglobo th {
        background: #1e4c9a;
      }

      #exame th {
        background: #ff0000;
      }
{% endblock %}
{% block conteudo %}
<div>
  <p>Valor Econômico - <a href="https://valor.globo.com/" target="_blank">https://valor.globo.com/</a></p>
  {{ vehtml | safe }}
</div>
<div>
  <p>InfoMoney - <a href="http://infomoney.com.br" target="_blank">http://infomoney.com.br</a></p>
  {{ imhtml | safe }}  
</div>
<div>
  <p>InvestNews - <a href="http://investnews.com.br" target="_blank">http://investnews.com.br</a></p>
  {{ inhtml | safe }}  
</div>
<div>
  <p>MoneyTimes - <a href="https://www.moneytimes.com.br/" target="_blank">https://moneytimes.com.br/</a></p>
  {{ mthtml | safe }}  
</div>
<div>
  <p>UOL Economia - <a href="https://economia.uol.com.br/" target="_blank">https://economia.uol.com.br/</a></p>
  {{ uhtml | safe }}  
</div>
<div>
  <p>O Globo - <a href="https://oglobo.globo.com/economia/" target="_blank">https://oglobo.globo.com/economia/</a></p>
  {{ oghtml | safe }}  
</div>
<div>
  <p>Exame.com - <a href="http://exame.com" target="_blank">http://exame.com</a></p>
  {{ ehtml | safe }}</p>  
</div>
{% endblock %}
