{% extends 'base.html' %}

{% block titulo %}Sobre este site{% endblock %}

{% block metadescription %}Sobre este site{% endblock %}

{% block style %}
{% endblock %}

<div>
{% block cabecalho %}Aplicação construída com Flask no Python usando funções que aprendi ou criei durante o Master de Jornalismo de dados e Automação do Insper{% endblock %}
{% block conteudo %}
<a href="/">Página inicial</a> - <a href="/economia">Homeiro de Economia</a>
<p>Esta aplicação/site roda em Flask, biblioteca do Python, compilando funções que aprendi ou desenvolvi durante o <b>Master de Jornalismo de dados e Automação do Insper.</b>b></p>
<p>Seu desenvolvimeno foi iniciado na disciplina de <b>Algoritmos de automação</b> com o professor <a href="https://github.com/turicas"<b>Álvaro Justen</b></p> no segundo trimestre (out-dez/2021) do <a href="https://www.insper.edu.br/pos-graduacao/master-em-jornalismo-de-dados-automacao-e-data-storytelling/">MJDA</a>.</p>
</div>
{% endblock %}